.categories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #274c5b;
  width: 100%;
  padding: 188px 246px;
}
@media screen and (max-width: 1400px) {
  .categories-wrapper {
    padding: 80px 110px;
  }
}
@media screen and (max-width: 1024px) {
  .categories-wrapper .categories-wrapper {
    padding: 80px 110px;
  }
}
@media screen and (max-width: 820px) {
  .categories-wrapper {
    padding: 80px 20px;
  }
}

.cate-top {
  margin-bottom: 33px;
}
.cate-top h2 {
  text-align: center;
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}
.cate-top p {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #FFFFFF;
}

.list-cate {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  place-items: center;
}
@media screen and (max-width: 992px) {
  .list-cate {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .list-cate {
    grid-template-columns: repeat(1, 1fr);
  }
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cate-img img {
  width: 334px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  margin-bottom: 24px;
}

.category a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}

.load-more-cate-btn {
  background: #efd372;
  border-radius: 16px;
  padding: 28px 47px 29px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #274c5b;
  text-decoration: none;
  margin-top: 40px;
}