.wwa-wrapper {
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1200px) {
  .wwa-wrapper {
    background-size: cover;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .wwa-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wwa-image {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wwa-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 992px) {
  .wwa-image {
    width: 100%;
  }
}

.wwa-content {
  position: relative;
  right: 4.5%;
  width: 50%;
  background-color: #ffffff;
  padding: 78px 89px;
  border-radius: 30px;
  margin: 100px 0;
}
@media screen and (max-width: 1400px) {
  .wwa-content {
    margin: 50px 0;
  }
}
@media screen and (max-width: 992px) {
  .wwa-content {
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .wwa-content {
    width: 90%;
    padding: 30px;
  }
}

.wwa-heading {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}
@media screen and (max-width: 568px) {
  .wwa-heading {
    font-size: 30px;
  }
}

.wwa-sub-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: clamp(2.5rem, 2.2516rem + 0.7278vw, 3.125rem);
  color: #274c5b;
  margin-bottom: 36px;
  max-width: 623px;
  line-height: 59px;
}

.wwa-list {
  list-style: none;
  padding-left: 0;
}
.wwa-list li h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #274c5b;
}
.wwa-list li p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
  max-width: 708px;
}