@import "../../assets/scss/genaral/mixin";
@import "../../assets/scss/genaral/variables";
.location-wrapper {
  padding: 0 13%;
  margin-top: 98px;
  @media screen and (max-width: 1400px) {
    padding: 0 8%;
  }

  
}
.location {
  display: flex;
  justify-content: end;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  aspect-ratio: 1400/758;
  padding: 122px 108px;
  @media screen and (max-width: 992px) {
    justify-content: center;
  }
  @media screen and (max-width: 768px) {
    padding: 60px;
  }
  @media screen and (max-width: 546px) {
    padding: 30px;
  }
  
  
}
.location-content {
  width: 514px;
  aspect-ratio: 1;
  border-radius: 30px;
  padding: 46px 58px;
  @media screen and (max-width: 546px) {
    padding: 20px;
  }
  
  .sub-heading {
    font-family: "Yellowtail";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #7eb693;
  }
  .heading {
    @include h2;
    color: $primary-color;
  }
  .text {
    @include p;
  }
}
.list-address {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 22px;
}
.address-container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 6px;
}
.address {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  .short-address {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 165.4%;
    color: #525c60;
  }
  .specific-address{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 165.4%;
    color: #525c60;
    max-width: 266px;
  }
}
