.location-wrapper {
  padding: 0 13%;
  margin-top: 98px;
}
@media screen and (max-width: 1400px) {
  .location-wrapper {
    padding: 0 8%;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  aspect-ratio: 1400/758;
  padding: 122px 108px;
}
@media screen and (max-width: 992px) {
  .location {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .location {
    padding: 60px;
  }
}
@media screen and (max-width: 546px) {
  .location {
    padding: 30px;
  }
}

.location-content {
  width: 514px;
  aspect-ratio: 1;
  border-radius: 30px;
  padding: 46px 58px;
}
@media screen and (max-width: 546px) {
  .location-content {
    padding: 20px;
  }
}
.location-content .sub-heading {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}
.location-content .heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: clamp(2.5rem, 2.2516rem + 0.7278vw, 3.125rem);
  color: #274C5B;
}
.location-content .text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
}

.list-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}

.address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 6px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.address .short-address {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
}
.address .specific-address {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
  max-width: 266px;
}