.best-seller-wrapper {
  width: 100%;
  background: #274c5b;
  padding: 200px 260px;
}

.best-seller-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.best-seller-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.best-seller-title h2 {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}

.best-seller-title p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #ffffff;
}

.view-all-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding: 28px 39px;
  color: #274c5b;
  background: #efd372;
  border-radius: 16px;
  text-decoration: none;
}

.view-all-btn img {
  width: 19px;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product {
  background: #f9f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
}

.shop-sub-heading {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #7eb693;
}

.shop-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: #274c5b;
  margin-bottom: 40px;
}

.product-category {
  background: #274c5b;
  padding: 5px 12px;
  color: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  margin: 29px 0 18px 29px;
}

.product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  height: auto;
  width: auto;
}

.product-image img {
  aspect-ratio: 1;
  width: 335px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-info {
  margin-top: 10px;
  padding: 17px 30px;
  width: 100%;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-name a {
  word-wrap: break-word;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #274c5b;
  text-overflow: ellipsis;
  text-decoration: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.product-name {
  width: 100%;
  border-bottom: 1px solid #dedddd;
}

.origin-price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #b8b8b8;
  text-decoration: line-through;
  margin-right: 7px;
}

.sale-price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #274c5b;
}

@media screen and (max-width: 1400px) {
  .best-seller-wrapper {
    padding: 200px 120px;
  }
  .product-wrapper {
    padding: 0;
  }
  .load-more-btn {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .best-seller-wrapper {
    padding: 30px 0;
  }
  .best-seller-title {
    padding: 0 10px;
  }
  .best-seller-title h2 {
    font-size: 19px;
  }
  .best-seller-title p {
    font-size: 20px;
  }
  .view-all-btn {
    margin-right: 10px;
    font-size: 14px;
    padding: 21px 22px;
  }
}
@media screen and (max-width: 768px) {
  .best-seller-wrapper {
    padding: 100px 50px;
  }
  .product-wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .best-seller-title p {
    font-size: 45px;
  }
}
@media screen and (max-width: 992px) {
  .best-seller-wrapper {
    padding: 200px 60px;
  }
  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-image img {
    width: 400px;
  }
}