.about-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 992px) {
  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-image {
  width: 100%;
  height: auto;
  z-index: 1;
  -o-object-fit: fill;
     object-fit: fill;
}

.content-about {
  position: absolute;
  z-index: 2;
  width: 50%;
  padding: 0px 163px 100px 0;
}
@media screen and (max-width: 576px) {
  .content-about {
    position: relative;
    width: 100%;
    padding: 0 10px 40px;
  }
}
@media screen and (min-width: 576px) {
  .content-about {
    position: relative;
    width: 100%;
    padding: 0 10px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .content-about {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .content-about {
    position: absolute;
    top: 50%;
    width: 60%;
    padding: 0;
    padding: 0 30px;
    padding-bottom: 30px;
    left: 50%;
    -webkit-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
    padding-left: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .content-about {
    padding: 0;
    width: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
}

.sub-heading {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 8px;
}

.about-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  width: 78.5%;
  margin: 0;
}
@media screen and (min-width: 576px) {
  .about-heading {
    width: 100%;
    font-size: 27px;
    line-height: 36px;
  }
}
@media screen and (max-width: 576px) {
  .about-heading {
    width: 100%;
    font-size: 27px;
    line-height: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .about-heading {
    font-size: 50px;
    line-height: 59px;
    width: 85.5%;
  }
}
@media screen and (min-width: 992px) {
  .about-heading {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .about-heading {
    font-size: 50px;
    line-height: 59px;
    width: 78.5%;
    margin-bottom: 14px;
  }
}

.about-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 46px;
  width: 77.2%;
}
@media screen and (min-width: 576px) {
  .about-text {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .about-text {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px) {
  .about-text {
    margin-bottom: 10px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .about-text {
    margin-bottom: 0px;
    width: 85.2%;
  }
}
@media screen and (min-width: 1400px) {
  .about-text {
    margin-bottom: 48.5px;
    width: 77.2%;
  }
}

.list-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  margin: 0;
}

.list-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 72.2%;
}
@media screen and (min-width: 992px) {
  .list-text {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .list-text {
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 1400px) {
  .list-text {
    width: 72.2%;
  }
}

.list-about {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}
@media screen and (min-width: 992px) {
  .list-about {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .list-about {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1401px) {
  .list-about {
    margin-bottom: 30px;
  }
}

.list-icon {
  padding: 27px;
  border-radius: 20px;
}

.list-icon img {
  /* width: 46px; */
  width: 52px;
  aspect-ratio: 1;
}

.content-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #274c5b;
  text-decoration: none;
  background: #efd372;
  padding: 28px 39px;
  border-radius: 16px;
  margin-bottom: 228px;
}
@media screen and (max-width: 992px) {
  .content-btn {
    margin-bottom: 0px;
  }
}

.content-btn img {
  width: 19px;
}

.list-about:last-of-type {
  margin-bottom: 74px;
}
@media screen and (min-width: 576px) {
  .list-about:last-of-type {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 576px) {
  .list-about:last-of-type {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .list-about:last-of-type {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1401px) {
  .list-about:last-of-type {
    margin-bottom: 74px;
  }
}