.product-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 20px;
}

.product {
  background: #f9f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
}

.shop-sub-heading {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #7eb693;
  margin: 0;
}

.shop-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: #274c5b;
  margin-bottom: 40px;
}

.product-category {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  background: #274c5b;
  padding: 5px 12px;
  color: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  margin: 29px 0 13px 29px;
}

.product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  height: auto;
  width: auto;
}

.product-image img {
  aspect-ratio: 1;
  width: 335px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-info {
  margin-top: 10px;
  padding: 17px 30px;
  width: 100%;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-name a {
  word-wrap: break-word;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #274c5b;
  text-overflow: ellipsis;
  text-decoration: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.product-name {
  width: 100%;
  border-bottom: 1px solid #dedddd;
  padding: 5px 0 13px 0;
  margin: 0;
}

.price {
  padding-bottom: 15px;
}

.origin-price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #b8b8b8;
  text-decoration: line-through;
  margin-right: 7px;
}

.sale-price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #274c5b;
}

.load-more-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background: #274c5b;
  padding: 28px 46px;
  border-radius: 16px;
  margin-top: 122px;
  margin-bottom: 200px;
}

/* a:hover {
  color: #ffffff !important;
} */
.load-more-btn img {
  width: 19px;
}

.shop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 176px;
  padding: 0 259px;
}

.page-numbers {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #274c5b;
  padding: 15px;
  border: 1px solid #000000;
  margin-right: 10px;
  border-radius: 21px;
  text-decoration: none;
  background: #ffffff;
}

.page-numbers.current {
  color: #ffffff;
  background-color: #274c5b;
}

@media screen and (max-width: 1280px) {
  .product-wrapper {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 1400px) {
  .shop-wrapper {
    padding: 0 120px;
  }
  .product-wrapper {
    padding: 0;
  }
  .load-more-btn {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .shop-wrapper {
    margin-top: 100px !important;
    padding: 0 60px;
  }
  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-image img {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .product-wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}
@media screen and (max-width: 414px) {
  .shop-wrapper {
    padding: 0;
  }
  .load-more-btn {
    padding: 21px 25px;
  }
}
.pagination {
  margin-bottom: 228px;
}