.testimonial-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 57.7%;
  border-bottom: 1px solid #e0e0e0;
}

#carouselExampleIndicators {
  width: 100%;
}

.counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 62px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.counter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 189px;
  height: 189px;
  background: #f1f1f1;
  border-radius: 50%;
  margin-top: 100px;
}

.counter::after {
  content: "";
  width: 111.6%;
  height: 111.6%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 11px;
  border: 5px solid #7eb693;
  border-radius: 50%;
}

.counter-index {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #274c5b;
  margin-bottom: 0;
}

.counter-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #274c5b;
  margin: 0;
}

.carousel-indicators [data-bs-target] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 8px;
  height: 8px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #c4c4c4;
  border-radius: 50%;
  background-clip: padding-box;
  border: 0;
  /* border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; */
  opacity: 0.5;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.carousel-indicators .active {
  opacity: 1;
  background: #7eb693;
  height: 8px;
}

.carousel-item {
  position: relative;
  display: none;
  /* float: left; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-inner.testimonial-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}

.customer-image {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  margin-bottom: 70px;
}

.testimonial-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.customer-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #274c5b;
  margin-bottom: 0;
}

.customer-position {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #525c60;
}

.background-image {
  width: 100%;
  height: auto;
}

.heading-testimonial {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}

.sub-heading-testimonial {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #274c5b;
  margin-bottom: 51px;
}

@media screen and (max-width: 1400px) {
  .customer-image {
    margin-bottom: 20px;
  }
  .counter {
    margin-top: 25px;
  }
  .counters {
    gap: 40px;
  }
  .sub-heading-testimonial {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .customer-image {
    margin-bottom: 20px;
  }
  .sub-heading-testimonial {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .heading-testimonial {
    font-size: 23px;
  }
  .testimonial-text {
    font-size: 14px;
  }
  .counters {
    gap: 40px;
  }
  .counter {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  .counter-text {
    font-size: 11px;
  }
  .counter-index {
    font-size: 25px;
  }
}
@media screen and (max-width: 820px) {
  .testimonial-text {
    font-size: 11px;
    line-height: 20px;
  }
  .counter {
    width: 70px;
    height: 70px;
  }
  .counter-text {
    font-size: 8px;
  }
  .counter-index {
    font-size: 15px;
  }
  .customer-name {
    font-size: 21px;
  }
  .customer-position {
    font-size: 11px;
  }
  .customer-image {
    height: 60px;
    width: 60px;
  }
}
@media screen and (max-width: 414px) {
  .counters {
    display: none;
  }
  .sub-heading-testimonial {
    font-size: 21px;
    margin-bottom: 0;
  }
  .heading-testimonial {
    font-size: 18px;
    margin: 0;
  }
  .testimonial-text {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
  }
  .customer-image {
    margin-bottom: 10px;
  }
  .customer-image {
    height: 45px;
    width: 45px;
  }
}