.wwa-wrapper {
  width: 100%;
  position: relative;
}

.wwa-img-bg {
  width: 50%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 992px) {
  .wwa-img-bg {
    width: 100%;
  }
}

.wwa-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
  background: #fff;
  border-radius: 30px;
  padding: 78px 89px;
  max-width: 70%;
  max-height: 90%;
  width: 37.3%;
}
@media screen and (max-width: 1400px) {
  .wwa-content {
    -webkit-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
    padding: 40px 40px;
  }
}
@media screen and (max-width: 1200px) {
  .wwa-content {
    -webkit-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .wwa-content {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .wwa-content {
    padding: 30px 30px;
  }
}

.wwa-heading {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}
@media screen and (max-width: 1200px) {
  .wwa-heading {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .wwa-heading {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.wwa-sub-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #274c5b;
  line-height: 59px;
  width: 600px;
}
@media screen and (max-width: 1400px) {
  .wwa-sub-heading {
    line-height: 50px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .wwa-sub-heading {
    width: 470px;
    font-size: 38px;
    line-height: 37px;
  }
}
@media screen and (max-width: 768px) {
  .wwa-sub-heading {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .wwa-sub-heading {
    max-width: 300px;
    font-size: 23px;
    margin-bottom: 5px;
    line-height: 20px;
  }
}

.wwa-list {
  list-style: none;
  padding: 0;
}

.wwa-list li h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #274c5b;
}
@media screen and (max-width: 1200px) {
  .wwa-list li h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 412px) {
  .wwa-list li h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.wwa-list li p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #525c60;
  width: 700px;
}
@media screen and (max-width: 1400px) {
  .wwa-list li p {
    width: 600px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .wwa-list li p {
    font-size: 15px;
    width: 90%;
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .wwa-list li p {
    font-size: 15px;
    width: 100%;
    line-height: 20px;
  }
}
@media screen and (max-width: 576px) {
  .wwa-list li p {
    width: 100%;
    line-height: 14px;
    font-size: 12px;
    margin-bottom: 5px;
  }
}