.point-container {
  margin-top: 59px;
  width: 100%;
}

.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.point {
  background: #f9f8f8;
  border-radius: 100px;
  padding: 15px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.point .index {
  aspect-ratio: 1;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background: #7eb693;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.point .value {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #274C5B;
  margin-right: 53px;
}
@media screen and (max-width: 768px) {
  .point .value {
    margin-right: 20px;
  }
}