.carousel-wrapper {
  margin: 140px 0px;
}
.offer {
  position: relative;
  height: 100%;
}
/* .owl-item{
    height: 376px;
    
    width: 610px !important;
} */
.offer img {
  height: 100%;
  border-radius: 30px;
}
.offer-content {
  width: 40.7%;
  position: absolute;
  top: 31%;
  left: 5.5%;
}
.offer-content p {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 5px;
}
.offer-content h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
}
/* @media screen and (max-width: 580px) {
  .owl-item{
    width: 610px !important;
}
} */
@media screen and (max-width: 1400px) {
  .offer-content p {
    font-size: 24px;
  }
  .offer-content h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1024px) {
  .carousel-wrapper {
    margin: 30px 0px;
}
  .offer-content p {
    font-size: 18px;
  }
  .offer-content h2 {
    font-size: 21px;
  }
}
@media screen and (max-width: 414px) {
  .offer-content p {
    font-size: 20px;
  }
  .offer-content h2 {
    font-size: 22px;
  }
  .carousel-wrapper {
    margin: 60px 0;
  }
}


/* @media screen and (max-width: 768px) {
  .offer-content {
    width: 200px;
  }
  .offer-content p{
    font-size: 20px;
  }
  .offer-content h2{
    font-size: 22px;
  }
} */
