.testimonial-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
  width: 57.7%;
  border-bottom: 1px solid #e0e0e0;
  @media screen and (min-width: 1200px) {
    padding-bottom: 20px;
  }
  @media screen and (min-width: 1400px) {
    padding-bottom: 45px;
  }
}
#carouselExampleIndicators {
  width: 100%;
}
.counters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 62px;
  width: 57.7%;
}
.counter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  aspect-ratio: 1;
  background: #f1f1f1;
  border-radius: 50%;
  margin-top: 71px;
}
.counter::after {
  content: "";
  width: 111.6%;
  height: 111.6%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 11px;
  border: 5px solid #7eb693;
  border-radius: 50%;
}
.counter-index {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #274c5b;
  margin-bottom: 0;
}
.counter-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #274c5b;
  margin: 0;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 8px;
  height: 8px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #c4c4c4;
  border-radius: 50%;
  background-clip: padding-box;
  border: 0;
  /* border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; */
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.carousel-indicators .active {
  opacity: 1;
  background: #7eb693;
  height: 8px;
}
.carousel-item {
  position: relative;
  display: none;
  /* float: left; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-inner.testimonial-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}
.customer-image {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  margin-bottom: 70px;
}
.testimonial-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  width: 70.5%;
}
.customer-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #274c5b;
  margin-bottom: 0;
}
.customer-position {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #525c60;
}
.background-image {
  width: 100%;
  height: auto;
}
.heading-testimonial {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}
.sub-heading-testimonial {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #274c5b;
  margin-bottom: 60px;
}
@media screen and (max-width: 1400px) {
  .customer-image {
    margin-bottom: 20px;
  }
  .counter {
    margin-top: 46px;
  }
  .counters {
    gap: 40px;
  }
  .sub-heading-testimonial {
    margin-bottom: 25px;
  }
  .testimonial-text {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .customer-image {
    margin-bottom: 20px;
  }
  .sub-heading-testimonial {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .heading-testimonial {
    font-size: 23px;
  }
  .testimonial-text {
    font-size: 14px;
  }
  .counters {
    gap: 40px;
  }
  .testimonial {
    padding-bottom: 30px;
  }
  .counter {
    margin-top: 40px;
  }
  .counter-text {
    font-size: 14px;
  }
  .counter-index {
    font-size: 25px;
  }
}
@media screen and (max-width: 992px) {
  .testimonial-text {
    font-size: 11px;
    line-height: 20px;
  }
  .testimonial {
    padding-bottom: 10px;
  }
  .counters {
    gap: 20px;
  }
  .counter {
    margin-top: 20px;
    
    // width: 70px;
    // height: 70px;
  }
  .counter-text {
    font-size: 8px;
  }
  .counter-index {
    font-size: 30px;
  }
  .customer-name {
    font-size: 21px;
  }
  .customer-position {
    font-size: 11px;
  }
  .customer-image {
    height: 60px;
    width: 60px;
  }
}
@media screen and (max-width: 768px) {
  .counter-index {
    font-size: 25px;
  }
  .counters {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .counters {
    display: none;
  }
  .sub-heading-testimonial {
    font-size: 21px;
    margin-bottom: 0;
  }
  .heading-testimonial {
    font-size: 18px;
    margin: 0;
  }
  .testimonial-text {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
  }
  .customer-image {
    margin-bottom: 10px;
  }
  .customer-image {
    height: 45px;
    width: 45px;
  }
}
