@mixin h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
}
@mixin h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
}

@mixin h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
}
@mixin h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
}
@mixin h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}
@mixin h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
}
@mixin p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
}
@mixin btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  border-radius: 16px;
  padding: 28px 39px;
}
