.categories-wrapper {
  padding: 150px 13%;
  @media screen and (max-width: 1400px) {
    padding: 80px 8%;
  }
}
.category {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.list-cate {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  row-gap: 43px;
  column-gap: 24px;
  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 546px) {
    grid-template-columns: repeat(1, 1fr);
  }
  
}
.cate-img {
  position: relative;
  transition: all 0.5s;
  img {
    border-radius: 30px 30px 0 0;
    aspect-ratio: 451/422;
  }
}
.cate-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  color: #274c5b;
  display: block;
  padding: 0 20px;
  text-align: center;
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .cate-img:after{
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     display: none;
//     width: 90%;
//     height: 90%;
//     background: rgba(255, 255, 255, 0.91);
// }
// .cate-img:hover > .cate-img::after{

//     display: block;
//   }
.image-hover {
  transition: all 0.5s;
  // display: block;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.91);
  width: 85%;
  aspect-ratio: 451/422;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.cate-img:hover > .image-hover {
  // display: block;
  opacity: 1;
  transition: all 0.5s;
}
